*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
.nav{
    display: flex;
}
nav{
    display: none;
}
.navbar{
    width: 85%;
    height: 8vh;
    background-color: rgb(243,36,71);
}
.checkbtn{
    font-size: 30px;
    color: white;
    line-height: 50px;
    margin-left: 3vw;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
#logo{
    margin: 2vw 3.5vw;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.navbar-right{
    width: 15%;
    height: 8vh;
    background-color: rgb(243, 36, 71);
}

.icon{
    background-color: whitesmoke;
    color: rgb(243, 36, 71);
    font-size: 1.1rem;
    padding: 12px 14px;
    border-radius: 5vw;
    margin-top: 0.3vw;
    margin-left: 1.5vw;
    float: left;
}
/* left */
.main{
    display: flex;
}
.left-side{
    width: 15%;
    height: 100vh;
    background-color: rgb(243, 36, 71);
}
.dashboard{
    margin-top: 6vw;
}
.left-dash{
   margin: 1.5vw 1vw;
   color: white;
}
#dash{
    color: white;
    font-family: Arial, Helvetica, sans-serif; 

}
/* right */
.right-side{
    width: 85%;
    height: 100vh;
    background-color: white;
}
.card{
    display: flex;
}
.card-box{
    margin: 2.5vw 1.5vw;
    width: 25vw;
    height: 22vh;
    border: 2px solid rgb(243, 36, 71);
    box-shadow: 0px 8px 0px 0px black;
    border-radius: 3px;
}
#card-nam{
    margin: 1vw 1vw;
    color: rgb(243, 36, 71);
    font-family: Arial, Helvetica, sans-serif;
}
#card-mrp{
    float: right;
}
#line{
    width: 23vw;
    margin-left: 0.8vw;
    background-color: rgb(243, 36, 71);
    border: 0.1px solid rgb(243, 36, 71);
}
.card-circle-1{
    display: flex;
}
.card-circle{
    width: 2.6vw;
    height: 5.5vh;
    border: 5px solid wheat;
    border-radius: 15vw;
    margin: 1vw 2.5vw;
    border-bottom-color:red;
    border-right-color: red;
    border-top-color: red ;
    
}
#paira{
    color: red;
    text-align: center;
}
#circle-par{
     color: red;
     margin: 0.6vw 0.4vw;
}
/* dfvf */
.card-larse{
    display: flex;
}
.card-boxl{
    margin: 2.5vw 1.5vw;
    width: 48vw;
    height: 58vh;
    border: 2px solid rgb(243, 36, 71);
    border-radius: 1vw;
}
#card-name{
    margin: 1vw 1.5vw;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    width: 46vw;
    margin-left: 1vw;
}
.card-button{
    display: flex;
}
.circle{
    width: 50%;
    height: 50vh;

}
.circle-1{
    width: 18vw;
    height: 38vh;
    border: 15px solid green;
    border-radius: 15vw;
    margin: 1vw 3vw;
    border-bottom-color:greenyellow;
    border-right-color: blue;
    border-top-color: red ;
    border-left-color: rgb(124, 30, 46);
}
.circle-2{
    width: 16vw;
    height: 34vh;
    border: 6px solid whitesmoke;
    border-radius: 15vw;
    margin: 0.5vw 0.5vw;
   
}
.circle-con{
    width: 50%;
    height: 50vh;
}
#circle-mid{
    font-size: 2rem;
    text-align: center;
    margin-top: 6vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#circle-mid-1{
    font-size: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.bulet-bule{
    width: 2vw;
    height: 4vh;
    background-color: blue;
    margin: 3vw 2vw;
}
.bulet-green{
    width: 2vw;
    height: 4vh;
    background-color: greenyellow;
    margin: 3vw 2vw;
}
.bulet-red{
    width: 2vw;
    height: 4vh;
    background-color: rgb(204, 56, 80);
    margin: 3vw 2vw;
}
.bulet-orenge{
    width: 2vw;
    height: 4vh;
    background-color: rgb(124, 30, 46);
    margin: 3vw 2vw;
}
#color{
    width: 15vw;
    margin-left: 3vw;
    position: absolute;
    margin-top: 0.3vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


/* ====calender================= */

.card-boxl1{
    margin: 2.5vw 1.5vw;
    width: 30vw;
    height: 58vh;
    box-shadow: 1px 2px 5px 3px whitesmoke;
    border-radius: 1vw;
}
#line1{
    width: 28vw;
}
#card-name1{
    margin: 1vw 1.5vw;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#cal{
    margin: 1vw 1.5vw;
   
}
.date-data{
    display: flex;
}
.date{
    margin-left: 2.8vw;
    
} 
.dates{
    margin-top: 2.3vw;
    
}
.dates1{
    margin-top: 2.3vw;
    opacity: 0.4;
    
}







/* =========travel---------------- */

.right-so{
    margin: 1.5vw 1vw;
    font-family: Arial, Helvetica, sans-serif;
}
.right-son{
    margin: 1.5vw 1vw;
    font-family: Arial, Helvetica, sans-serif;
}
#so{
    width: 82vw;
}
#so-1{
    width: 82vw;
    margin: 1vw 1vw;
}
.filter{
    float: right;
    width: 4.5vw;
    height: 4.5vh;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    margin-left: 0.8vw;
}
.non{
    font-size: 1.7rem;
    margin-left: 0.4vw;
}
.claim{
    float: right;
    width: 11vw;
    height: 4.5vh;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    background-color: rgb(243, 36, 71);
    margin-left: 0.8vw;
}
#claim-con{
    font-size: 0.8rem;
    color: white;
}
#travel-input{
    width: 17vw;
    height: 4vh;
    margin-left: 1vw;
    border-radius: 5px;
}
.ico{
    font-size: 0.8rem;
    color: white;
    margin-left: 1.5vw;
}
.travel{
    display: flex;
    margin: 0.5vw;
}
.travel-chat{
    width: 82vw;
    height: 62vh;
    background-color: rgb(231 206 206);
    margin-left: 1vw;
    border-radius: 5px;
}
.travel-h{
    width: 82vw;
    height: 8vh;
    border-radius: 5px;
    background-color: black;
    display: flex;
}
.row-100{
    width: 8vw;
    height: 5vh;
    margin-left: 2vw;
    margin-top: 0.8vw;
    color: white;
}
.chat-list{
    display: flex;
    margin-left: -2vw;
}
#chat-input{
    width: 8vw;
    height: 4vh;
    border-radius: 5px;
    margin: 1vw 10vw;
}
.chat-list-1{
    margin-left: 4vw;
    margin-top: 1.5vw;
}
.chat-list-2{
    margin-left: 4vw;
    margin-top: 1.5vw;
}
.chat-list-3{
    margin-left: 4vw;
    margin-top: 1.5vw;
}
.chat-list-4{
    margin-left: 4vw;
    margin-top: 1.5vw;
}
.eye{
    margin-left: 4.2vw;
}
.eyey{
    margin-left: 3.2vw;
}
#chat-hr{
    margin-top: 1.5vw;
    border: 1px solid rgb(243, 36, 71);
    width: 80vw;
}
.num-page{
    display: flex;
    margin: 2vw 1vw;
}
.page{
    width: 3vw;
    height: 5.5vh;
    border: 1px solid rgb(243, 36, 71);
}
.box-num{
    color: rgb(243, 36, 71);
    margin-top: 0.6vw;
    margin-left: 1vw;
    position: absolute;
}
/* ======form===== */
.form{
    display: flex;
}
.form-10{
    margin-left: 2vw;
}
.can-form{
    width: 78vw;
    height: 25vh;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin: 1vw 2vw;

}
.sec{
    width: 78vw;
    height: 6vh;
    background-color: whitesmoke;
}
#sec-1{
    margin: 0.7vw;
    position: absolute;
    opacity: 0.5;
}
.sec-3{
    margin-left: 2vw;
    float: left;
}
#input{
    width: 35vw;
    height: 4vh;
    margin-left: vw;
}
#input-o{
    width: 35vw;
    height: 4vh;
    margin-left: 2vw;
    margin-top: 2vw;
}
#input-1{
    width: 25vw;
    height: 4vh;
}
.sec-4{
    margin-left: 40vw;
}
.sec-20{
    margin-top: 2vw;
}
.city{
    width: 13vw;
    height: 4vh;
    border: 2px solid whitesmoke;
    margin-left: 2vw;
}
#city-input{
    font-size: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5vw 1vw;
    font-weight: bold;
}
#save{
    margin: 7vw 2vw;
    width: 8vw;
    height: 6vh;
    background-color: red;
    border-radius: 5px;
    font-size: 2rem;
}

/* =================mobile view=============== */

@media only screen and (max-width :768px){
    nav{
        display: block;
    }
    #checkbtn{
        display: none;
    }
    nav{
        width: 100%;
        height: 9vh;
     
    }
    .three{
        color: white;
        font-size: 15vw;
        float: left;
        margin-left: 4vw;
    }
    table{
        z-index: 1;
        width: 100vw;
        height: 26vh;
        left: -100vw;
        position: relative;
        transition: .5s;
        background-color: rgb(243, 36, 71);
        top: -4vw;
        text-align: center;
    }
    th{
        height: 16vw;
        border-bottom: 1px solid rgba(128, 113, 113, 0.555);
        color: white;
    }
   #nav-a{
        text-align: center;
        color: white;
        margin-left: 3vw;
        font-size: 1.5rem;
    }
    .nav-log{
        margin-left: 8vw;
        margin-top: 2vw;
        
    }
    :checked~table{
        left: 0%;
        
    }
      .nav{
          position: fixed;
      }
      .nav-gap{
          height: 17vw;
      }
    .navbar{
        width: 49%;
    } 
    .navbar-right{
        width: 51%;
    } 
    .left-side{
        display: none;
    }
    #logo{
        margin: -12vw 23vw;
    }
    .icon{
        padding: 7px 9px;
        margin-left: 5vw;
        margin-top: 2.5vw;
    }
    .card{
        display: block;
        margin-left: 3vw;
    }
    #card-name{
        font-size: 2rem;
    }
    .card-box{
        width: 90vw;
        height: 25vh;
        margin-top: 8vw;
    }
    #card-nam{
        font-size: 1.2rem;
    }
    #line{
        width: 88vw;
    }
    .card-circle{
        width: 19vw;
        height: 18.5vw;
    }
    .card-circle-1{
        margin-left: 4vw;
    }
    #paira{
        font-size: 1rem;
    }
    #circle-par{
        margin: 5vw 4vw;
        font-size: 1.5rem;
    }
    .card-larse{
        display: block;
        margin-top: 8vw;
    }
    .card-boxl{
        width: 90vw;
        height: 70vh;
        margin-left: 4.5vw;
    }
    hr{
        width: 80vw;
        margin-left: 1.5vw;
        margin-top: 4vw;
    }
    #circle-mid{
        margin-top: 10vw;
    }
    .card-boxl1{
        width: 90vw;
        margin-left: 4.5vw;
        border: 1px solid red;
    }
    .bulet-bule{
        width: 8vw;
    }
    .bulet-green{
        width: 8vw;
    }
    .bulet-red{
        width: 8vw;
    }
    .bulet-orenge{
        width: 8vw;
    }
    #color{
        width: 54vw;
        margin-left: 14vw;
    }
     #line1{
         width: 86vw;
     }
     .card-button{
         display: block;
     }
     .circle-1{
         width: 46vw;
         height: 26vh;
         border-radius: 38vw;
         margin: 3vw 19vw;
     }
     .circle-2{
         width: 40vw;
         height: 22.5vh;
         border-radius: 25vw;
         margin: 1.5vw 1.5vw;
     }

     .circle-con{
         margin-top: -26vw;
         margin-left: 8vw;
     }
    .date{
        margin-left: 6.7vw;
    }
    .dates{
        margin-top: 10vw;
    }
    .dates1{
        margin-top: 10vw;
    }

    /* ====travel==== */
    #so{
        width: 96vw;
    }
    .right-so{
        font-size: 1.2rem;
    }
    .non{
        font-size: 1.2rem;
    }
    .travel{
        display: block;
        margin-left: 3vw;
    }
    #travel-input{
        width: 91vw;
        height: 6vh;
        margin-top: 4vw;
    }
    .travel-chat{
        width: 96vw;
        margin-left: 2vw;
    }
    #chat-input{
        width: 21vw;
        margin: 1vw 6vw;
    }
    .travel-h{
        width: 96vw;        
    }
    #row101{
        font-size: 9px;
    }
    .row-100{
        width: 30vw;
        
    }
    .num-page{
        margin-left: 3vw;
        margin-top: 10vw;
    }
    .box-num{
        margin: 1.6vw 4vw;
    }
    .page{
        width: 10vw;
        height: 5vh;
    }
    #chat-hr{
        width: 92vw;
    }
    .chat-list-1{
        font-size: 3px;
        margin: 2vw 3vw;
    }
    .chat-list-2{
        font-size: 3px;
        margin: 2vw 3vw;
    }
    .chat-list-3{
        font-size: 3px;
        margin: 2vw 3vw;
    }
    .chat-list-4{
        font-size: 3px;
        margin: 2vw 3vw;
    }
   
    

/* ==========3rd============== */
.right-side{
    width: 100%;
    height: 120vh;
}
.right-son{
    margin: 1.5vw 25vw;
    width: 60vw;
    font-size: 2rem;
}
.filter{
    width: 14vw;
}
#claim-con{
    font-size: 0.5rem;
}
.claim{
    width: 26vw;
}
.form{
    display: block;
}
.form-10{
    margin: 4vw 5vw;
}
.can-form{
    width: 94vw;
    height: 44vh;
}
.sec{
    width: 94vw;
}
#input{
    width: 87vw;
    height: 5vh;
    margin: 2vw 2.5vw;
}
#input-o{
    width: 87vw;
    height: 5vh;
    margin: 2vw 2.5vw;
}
#input-1{
    width: 91vw;
}
.sec-3{
    margin-top: 1vw;
}
.sec-4{
    margin-left: 1vw;
}
.sec-40{
    position: absolute;
    margin-top: 12vw;
    margin-left: 1vw;
}
.city{
    width: 60vw;
    height: 5vh;
    margin-top: 4vw;
}
#city-input{
    font-size: 1rem;
    margin: 2vw;
}
#so-1{
    width: 97vw;
    margin: 5vw 1vw;
}
#save{
    margin-left: 4vw;
    width: 33vw;
    height: 7vh;
    background-color: red;
    border-radius: 5px;
    font-size: 2rem;
}

       
}
@media only screen and (min-width:370px) and (max-width:376px){
    .circle-1{
        width: 57vw;
        margin-left: 12vw;
    }
    .circle-2{
        width: 51vw;
        height: 23vh;
    }
    .nav-gap{
        height: 20vw;
    }
    #input-o{
        width: 86vw;
    }
}
@media only screen and (min-width:400px) and (max-width:412px){
    .circle-1{
        width: 52vw;
        height: 52vw;
        margin-left: 14vw;
    }
    .circle-2{
        width: 46vw;
        height: 26vh;
    }
    #circle-mid{
        margin-top: 17vw;
    }
    #color{
        margin-top: 1vw;
    }
}
@media only screen and (min-width:315px) and (max-width:330px){
    .circle-1{
        width: 51vw;
        margin-left: 14vw;
    }
    .circle-2{
        width: 44.5vw;
    }
    #circle-mid{
        margin-top: 13vw;
    }
    #color{
        width: 62vw;
    }
    #city-input{
        font-size: 0.9rem;
    }
    .claim{
        width: 29vw;
    }
}
@media only screen and (min-width:280px) and (max-width:315px){
    .circle-1{
        width: 54vw;
        margin-left: 14vw;
    }
    .circle-2{
        width: 47vw;
    }
    #circle-mid{
        margin-top: 14vw;
    }
    #color{
        width: 70vw;

    }
    .claim{
        width: 29vw;
    }
}